body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    background: white;
    box-sizing: border-box;
    font-family: "Circular Std", sans-serif;
}

.main-header {
    width: 100%;
    height: 10vh;
}

.main-header-logo {
    margin: 2% 10% 0;
    width: 5%;
}

.main {
    display: flex;
    width: inherit;
    height: max-content;
    align-items: center;
    flex-direction: column;
    background: url("../img/background.svg") no-repeat;
    background-size: contain;
    background-position-y: -5%;
}

.main-row {
    display: flex;
    height: 60vh;
    padding: 0 10%;
    justify-content: space-between;
}

.main-text {
    width: 45%;
}

.main-text-title {
    color: #2D4163;
    font-size: 2vw;
    font-weight: 500;
    line-height: 63px;
    font-style: normal;
}

.main-text-title span {
    color: #357FD3;
}

.main-text-description {
    width: 100%;
    padding: 1vh 3vh;
    background: white;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.06);
}

.main-text-description-comment {
    color: #2D4163;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
}

.main-calculator {
    width: 45%;
    display: flex;
    background: #1C82DB;
    justify-content: center;
    padding: 3% 0;
}

.order_iframe {
    border-radius: 1vh;
    height: inherit !important;
}

#order_iframe_2 {
    height: 100vh !important;
}

.order_iframe .switch-spaced__block .switch div.active, .switch-spaced__block .button-group.active .button {
    background: #357FD3 !important;
}

.order_iframe .input-group-datapicker:before {
    background: #357FD3 !important;
}

.main-rating {
    width: 70%;
    height: 10vh;
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
}

.main-rating-block {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-rating-block:nth-child(odd) {
    width: 20%;
}

.main-rating-block-icon {
    width: 5vw;
}

.main-rating-block-rating {
    width: 7vw;
}

.main-rating-block-rate {
    width: auto;
    display: inherit;
    margin: 1vh 2vh 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-rating-block-rate-company_name {
    margin: 0;
    color: #22C2FC;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    width: max-content;
}

.main-rating-block-rate_number {
    margin: auto;
    color: #0C537F;
    font-size: 3vw;
    font-weight: 500;
    line-height: 81px;
    font-style: normal;
}

.main-why_us {
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.main-why_us-title_block {
    width: 100%;
    height: 20vh;
    display: flex;
    background: #1C82DB;
    align-items: center;
    justify-content: center;
}

.main-why_us-title_block-title {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 2vw;
    font-weight: 500;
    line-height: 46px;
    font-style: normal;
}

.main-why_us-main_block {
    width: 80%;
    height: 80vh;
    display: flex;
    padding: 0 10%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.main-why_us-main_block-title {
    color: black;
    font-size: 2vw;
    font-weight: bold;
    line-height: 46px;
    font-style: normal;
}

.main-why_us-main_block-suits {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-why_us-main_block-suits-block {
    width: 20%;
    height: 30vh;
    padding: 2%;
    display: flex;
    border-radius: 10px;
    background: #6B8CEB;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.main-why_us-main_block-suits-block-img {
    width: inherit;
}

.main-why_us-main_block-suits-block-title {
    color: white;
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1vh;
    font-style: normal;
}

.main-why_us-main_block-suits-block-description {
    color: #FFFFFF;
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 3vh;
    text-align: center;
    font-style: normal;
}

.main-why_us-main_block-button {
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 23px;
    font-style: normal;
    padding: 15px 30px;
    border-radius: 5px;
    background: #6B8CEB;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main-works-title_block {
    height: auto;
    flex-direction: column;
}

.main-works-title_block a {
    margin-bottom: 2%;
}

.main-works-title_block-list {
    list-style: none;
    margin-bottom: 2%;
}

.main-works-title_block-list-item {
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    align-items: center;
}

.main-works-title_block-list-item-description {
    margin-left: 1vh;
    font-weight: 500;
}

.main-works-main_block {
    width: 80%;
    display: flex;
    padding: 5% 10%;
    align-items: center;
    flex-direction: column;
}

.main-works-main_block-title {
    color: black;
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    font-style: normal;
}

.main-works-main_block-description {
    width: 50%;
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    font-style: normal;
}

.main-companion {
    margin-top: unset;
}

.main-companion-title_block-button {
    color: #1C82DB;
    background: white;
    margin-bottom: 2%;
}

.main-companion-main_block {
    width: 90%;
    display: flex;
    padding: 5% 0 5% 10%;
    justify-content: space-between;
}

.main-companion-main_block-left {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.main-companion-main_block-left-title {
    display: inherit;
    flex-direction: inherit;
}

.main-companion-main_block-left-title-name {
    margin: 0;
    color: #18214D;
    font-size: 1.25vw;
    font-weight: bold;
    line-height: 23px;
    font-style: normal;
    font-family: 'DM Sans', sans-serif;
}

.main-companion-main_block-left-title-position {
    margin-bottom: 0;
    color: #18214D;
    font-size: 1.25vw;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

.main-companion-main_block-left-rating {
    display: inherit;
    justify-content: flex-end;
}

.main-companion-main_block-left-rating-rate {
    width: 20%;
}

.main-companion-main_block-left-comment {
    color: #18214D;
    font-size: 2vw;
    font-weight: 500;
    line-height: 60px;
    font-style: normal;
}

.main-companion-main_block-left-buttons {
    display: flex;
}

.main-companion-main_block-left-buttons_left {
    margin-right: 1vh;
    transform: scale(-1, 1);
}

.main-companion-main_block-left-buttons_right {
    cursor: pointer;
    width: max-content;
}

.main-companion-main_block-right {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 5vh;
    width: max-content;
}

.main-companion-main_block-right-img_block {
    width: 32%;
}

.main-companion-main_block-right-img_block-img {
    width: 100%;
    object-fit: cover;
    border-radius: 1vh;
    height: max-content;
}

.main-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-footer-contact_us {
    padding: 0 1vh;
    display: inherit;
    justify-content: space-between;
}

.main-footer-contact_us-contact {
    width: 35%;
    display: inherit;
    flex-direction: column;
}

.main-footer-contact_us-contact-title {
    margin: 0;
    color: #1C82DB;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 36px;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list {
    padding: 0 0 0 5%;
    list-style: none;
}

.main-footer-contact_us-contact-list-item {
    display: flex;
    align-items: baseline;
}

.main-footer-contact_us-contact-list-item:nth-child(3) {
    align-items: center;
}

.main-footer-contact_us-contact-list-item h3 {
    color: #022340;
    font-size: 1.25vw;
    margin-left: 1vh;
    font-weight: bold;
    line-height: 31px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list-item_list {
    padding: 0;
    list-style: none;
}

.main-footer-contact_us-contact-list-item_list li {
    color: black;
    display: flex;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list-item_list:nth-child(4) li:nth-child(1n+1) a {
    color: #225A8E;
    text-decoration: none;
}

.main-footer-contact_us-contact-list-item_list li span {
    margin-right: 1vh;
    color: #F27507;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
}

.main-footer-contact_us-location {
    width: 20%;
}

.main-footer-contact_us-location-office {
    display: flex;
    color: #022340;
    font-size: 1.25vw;
    font-weight: bold;
    line-height: 31px;
    font-style: normal;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-location-office img {
    margin-right: 1vh;
}

.main-footer-contact_us-location-description {
    width: 75%;
    margin: 1vh 0;
    color: #022340;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-map {
    width: max-content;
}

.main-footer-contact_us-social {
    width: 20%;
    margin-left: 5%;
}

.main-footer-contact_us-social-img_facebook {
    margin-top: 1vh;
    width: max-content;
}

hr {
    width: 100%;
    border: 2px solid #D4D4D4;
    background: #D4D4D4;
}

.main-footer-navbar {
    width: 100%;
    display: flex;
    margin-bottom: 1vh;
}

.main-footer-navbar-copyright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer-navbar-copyright-text {
    color: #022340;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-navbar-items {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.main-footer-navbar-items li {
    display: flex;
    color: #022340;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main-footer-navbar-items li a {
    color: #022340;
    text-decoration: none;
}

.main-footer-navbar-items li img {
    margin-right: 5px;
}

@media screen and (max-width: 1023px) {
    .main-rating {
        width: 80%;
        height: auto;
        align-items: center;
        flex-direction: column;
    }

    .main-rating-block {
        width: inherit;
    }

    .main-rating-block:nth-child(odd) {
        width: inherit;
    }

    .main-rating-block-rating {
        width: auto;
    }

    .main-rating-block img {
        width: 15vw;
    }

    .main-rating-block-rate-company_name {
        font-size: 3.5vw;
    }

    .main-rating-block-rate {
        width: 50%;
    }

    .main-rating-block-rate_number {
        font-size: 7vw;
    }

    .main-footer-contact_us {
        flex-direction: column;
    }

    .main-footer-navbar {
        flex-direction: column;
    }

    .main-header-logo {
        width: 20%;
    }

    .main-row {
        height: auto;
        flex-direction: column;
    }

    .main-text {
        width: auto;
    }

    .main-text-title {
        width: auto;
        font-size: 9vw;
    }

    .main-text-description {
        width: auto;
    }

    .main-why_us-main_block-suits-block-title,
    .main-why_us-main_block-button,
    .main-companion-main_block-left-title-name,
    .main-companion-main_block-left-title-position,
    .main-footer-contact_us-contact-list-item h3,
    .main-footer-contact_us-location-office,
    .main-text-description-comment {
        font-size: 4.5vw;
    }

    .main-why_us-main_block a {
        margin: 7vh 0;
    }

    .main-footer-contact_us-contact-list-item_list li,
    .main-footer-contact_us-contact-list-item_list li span,
    .main-footer-contact_us-location-description,
    .main-footer-navbar-copyright-text,
    .main-footer-navbar-items li,
    .main-why_us-main_block-suits-block-description {
        font-size: 3.5vw;
    }

    .main-calculator {
        width: auto;
        height: 90vh;
        margin-top: 10%;
    }

    hr {
        width: 99%;
    }

    .main-why_us-title_block {
        height: auto;
        padding: 5% 0;
    }

    .main-why_us-title_block-title,
    .main-why_us-main_block-title {
        font-size: 6.5vw;
    }

    .main-why_us-main_block {
        width: auto;
        height: auto;
    }

    .main-why_us-main_block-suits {
        flex-direction: column;
    }

    .main-why_us-main_block-suits-block {
        width: auto;
        padding: 5%;
        height: 35vh;
        margin: 1vh 0;
    }

    .main-why_us-main_block-suits-block-img {
        width: 25%;
    }

    .main-why_us-main_block-button:nth-child(3) {
        margin-top: 5vh;
    }

    .main-works-title_block-list {
        padding: 0 10%;
    }

    .main-works-title_block-list-item {
        font-size: 5vw;
    }

    .main-works-title_block-list-item:nth-child(3) {
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .main-works-title_block-list-item:nth-child(3) .main-works-title_block-list-item-description {
        margin: 0 0 0 1vh;
    }

    .main-works-main_block-description {
        width: auto;
    }

    .main-companion-main_block {
        padding-top: 10%;
        overflow-x: hidden;
        flex-direction: column;
    }

    .main-companion-main_block-left {
        width: 90%;
    }

    .main-footer-contact_us-contact-title,
    .main-companion-main_block-left-comment {
        font-size: 5.5vw;
    }

    .main-companion-main_block-left-rating {
        margin-top: 5vh;
    }

    .main-companion-main_block-right {
        padding: 0;
        margin-top: 5vh;
        width: max-content;
    }

    .main-footer-contact_us-contact-list-item_list:nth-child(4) li:nth-child(1n+1) {
        flex-wrap: wrap;
    }

    .main-footer {
        padding: 0 5%;
    }

    .main-footer-contact_us-contact {
        width: auto;
    }

    .main-footer-contact_us-contact-list-item {
        align-items: center;
    }

    .main-footer-contact_us-contact-title {
        margin-top: 5vh;
        text-align: center;
    }

    .main-footer-contact_us-contact img {
        margin: 5vh 0;
        align-self: center;
    }

    .main-footer-contact_us-location {
        padding: 0 0 0 5%;
    }

    .main-footer-contact_us-location-office img {
        margin-right: 1vh;
    }

    .main-footer-contact_us-map {
        width: max-content;
        align-self: center;
    }

    .main-footer-navbar-copyright {
        width: auto;
    }

    .main-footer-navbar-items {
        padding: 0;
        width: auto;
        align-items: center;
        flex-direction: column;
    }

    .main-footer-navbar-items li {
        margin: 1vh 0;
    }
}